/*body{
    width: 1200px;
    margin: 0 auto;

}*/
.lines {
    position: relative;
}


.lines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

}
.myworklines{
    position: relative;
}
.myworklines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 30%;
    z-index: -1;

}
.aboutmelines{
    position: relative;
}
.aboutmelines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

}
.contactlines{
    position: relative;
}
.contactlines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

}

.container {
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
}
.one-half img{
    height: 75px;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50px;
}
header img{
    width: 100px;
    margin-left: 10px;
    position: relative;
    /*left: 20px;*/
    top: 0px;
    z-index: 4;
    margin-bottom: 50px
}
header .nav ul{
    overflow: hidden;
    background-color: white;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    right: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-bottom: 100px;
    z-index: 3;
    font-weight: bold;

}
header .nav ul{
    display: inline;
    text-align: right;
    float: right;
    margin: 0;

}
@media only screen and (max-width: 761px){
    header img{
        display: block;
        margin: 0 auto;
        position: static;
        margin-top: 50px;
    }
}
@media only screen and (max-width: 761px){
    header .nav ul{
        display: block;
        text-align: center;
        float: none;
        margin: 0;
    }
}

header .nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 25px 10px 0 10px;
}

header .nav a{
    display: inline;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
header .nav a:hover {
    color: #EF5850;
    text-decoration: underline;
    border-bottom-style: solid;
    border-bottom: 1px;
    padding-bottom: 3px;
}
.hero b{
      color:#313131;
      font-weight: bold;
      -webkit-animation:colorchange 20s infinite alternate;


    }
    @-webkit-keyframes colorchange {
      0% {

        color: #FED933;
      }

      10% {
        color:#FFB6B3;


      }

      20% {
        color: #5ACBCB;


      }

      30% {
        color: #FFEFA7;
      }

      40% {
        color: #FFD2C7;
      }

      50% {

        color: #5ACBCB;
      }

      60% {

        color: #FED933;
      }

      70% {

        color:#FFB6B3;
      }
      80% {

        color: #5ACBCB;
      }

      90% {

        color: #FFEFA7;
      }

      100% {

        color:#FFB6B3 ;
      }
    }


header .hero{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 175px;
  width: 40%;


 }

header .hero h1 {
  font-size: 56px;
  font-weight: bold;
  /*padding: 10px;*/
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
header .hero h3{
    color: #818181;
    font-family: 'Karla', sans-serif;
}

header .hero img{
    height:100px;
    margin-top: 50px;
}

/*header .hero p{
    font-family:'Montserrat', sans-serif;
}*/
main .work img{
    height: 30px;
    width: auto;



}
main .mywork{
    height: 50px;
    width: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .aboutmelines{
    height: 50px;
    width: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .contactlines{
    height: 50px;
    width: auto;
    margin-bottom: 50px;
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .work{
    height: 35px;
    margin-top: 65px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .aboutme{
        height: 50px;
        width: auto;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
}
.project-preview{
    /*padding: 5px;*/
    margin-top: -20px;
    margin-bottom: 150px;
    /*border-radius: 0 0 4px 4px;*/
}
.section{
    max-width: 927px;
    margin: 0 auto 30px;
}
/*.span_4_of_12{
    width: 30.13%;
}*/
/*main .projects{
    margin-left: auto;
    margin-right: auto;
    width: 923px;
}*/
.project-preview img{
    width: 927px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

 .project-preview h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 42px;
}
 .project-preview h5{
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}
 .project-preview p{
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    /*position: relative;*/
    text-align: left;
    line-height: 1.5;
}
/*footer*/

#footer {
  background-color: #fafafa;
  color: #333333;
  height: 100px;
  /*position: relative;*/
  /*overflow: hidden;*/
  z-index: 0;
  font-family:'Karla', sans-serif;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
}
#footer .socialmedia img{
    height: 20px;
    width: auto;
    text-align: center;
    margin: 0 20px 20px 0;
}

#footer nav ul li {
  list-style-type: none;
  display: inline-block;

}
#footer nav ul li a {
  color:#333333;
  text-decoration: none;
}


#content .title h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    margin-top: 50px;

}

#content p img{
    width: 60%;
    display: block;
    /*margin-left: auto;*/
    margin-right: auto;
    /*margin-top: -50px;*/
    /*border: solid 1px;*/

}
/*case study css*/
.swot{
    margin-top: 100px;
}
.wrapper{
    display: inline;
    margin-top: 100px;
}
.mainimage img{
    width: 60%;
    margin-left: 0px;
    /*margin-top: 50px;*/
}
.summary h1 span{
    font-weight: bold;
    color: #FED933;
}
.summary h1{
    width: 30%;
    text-align: right;
    position: absolute;
    right: 100px;
    top: 400px;
    font-size: 56px;
    font-family: 'Karla', sans-serif;

}
.casestudytitle{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 48px;
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 10px;

}
.title h1{
    width: 25%;
    text-align: left;
    position: absolute;
    /*right: 100px;*/
    /*top: 400px;*/
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Karla', sans-serif;

}
main .number{
    width: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.casestudyparagraph{
    margin-top: 50px;

}

.casestudyparagraph p{
    text-align: left;
    font-family: 'roboto', sans-serif;
    width: 60%;
    /*display: inline-block;*/
    margin-left: auto;
    margin-right: 50px;
    line-height: 1.5;
    color: #333333;
    font-size: 18px;
}
.casestudyparagraph  b{
    font-weight: bolder;
    font-size: 20px;
}
header .nav li span{
    color: #EF5850;
}

main .sketch{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

main p{
    text-align: center;
    font-family: 'Roboto', serif;
    color: #6d6d6d;
    font-size: 19px;
}


.project-preview{
  position: relative;
  /*width: 100%;*/
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFF7D4;
}
.overlay-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F6E8E5;
}
.overlay-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #CFE7E7;
}

.project-preview:hover .overlay{
  opacity: 0.9;
}
.project-preview:hover .overlay-1{
  opacity: 0.9;
}
.project-preview:hover .overlay-2{
  opacity: 0.9;
}

.text{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}



.sidenav {
    /*width: 130px;*/
    position: fixed;
    z-index: 4;
    top: 23px;
    left: 200px;
    background: white;
    overflow-x: hidden;
    /*padding: 8px 0;*/
    display: inline;
    /*border: 1px solid #D6D6D6;*/

}

.sidenav a {
    padding: 2px 4px 2px 8px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: inline;
    font-family:'karla', sans-serif;
}

.sidenav a:hover {
    color: #EF5850;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    position: relative;
}

/*@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/
.aboutmeparagraph{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}
.aboutmeparagraph p{
    width: 700px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #333333;

}
.aboutmeparagraph b{
    color: black;
}
.aboutmeparagraph  img{
    float: right;
    /*width: 500px;*/
    margin: 0;
    width:250px;
    height:250px;
    margin-left:15px;

}
.contactme{
    font-family:"Karla", sans-serif;
    font-size: 20px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
.contactme a{
    color: #EF5850;
    text-decoration: none;
}
.contactme a:hover{
    text-decoration: underline;
    color: #EF5850;
}

.column {
    float: left;
    width: 31.33%;
    margin-left: 10px;
    background-color: #Fafafa;
    height: 610px;


}
.row{
    margin-top: 50px;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row ul {
    font-family: 'Karla', sans-serif;
    width: 80%;
    padding: 3;
    text-align: left;
    line-height: 1.5em;

}
.row h5 {
    font-family: 'Karla', sans-serif;
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
}
.row img{
    width: 265px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 50px
}
.w3-content .w3-section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.cbrow{
    margin-top: 50px;
    width: 950px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.cbcolumn img{
    width: 250px;
    height: auto;
    margin: 20px;
    text-align: center;

}


/* Clear floats after the columns */
@media only screen and (max-width: 761px){
  .casestudyparagraph p{
    /*height: auto;*/
    width: 100%;
    position: relative;
    display: block;
  }
}

@media only screen and (max-width: 761px){
  .casestudyparagraph p{
    /*height: auto;*/
    width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 761px){
  main .sketch{
    height: auto;
    width: 100%;
    position: relative;
  }
}
@media only screen and (max-width: 761px){
  video{
    height: auto;
    width: 100%;
    position: relative;
  }
}
@media (max-width: 761px) {
    .overlay {
        position: static;
        top: auto;
        bottom: auto;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: .5s ease;
        background-color: #FFF7D4;

        }
    }
@media (max-width: 761px) {
    .overlay-1 {
        position: static;
        top: auto;
        bottom: auto;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: .5s ease;
        background-color: #F6E8E5;

    }
}
@media (max-width: 761px) {
    .overlay-2 {
        position: static;
        top: auto;
        bottom: auto;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: .5s ease;
        background-color: #CFE7E7;

    }
}
@media only screen and (max-width: 761px){
    .project-preview img{
        height: auto;
        width: 100%;
        display: block;
        top: auto;
        bottom: auto;
        position: static;
        text-decoration: none;
    }
}
@media only screen and (max-width: 761px){
    .project-preview a{
        text-decoration: none;
    }
}
@media only screen and (max-width: 761px){
    .text{
        color: black;
        font-size: 20px;
        position: relative;
        top: 130px;
        /*left: auto;*/
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 90%;
        margin-top: 10px;
      }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .row {
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .cbcolumn {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .cbrow {
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 1156px) {
    .sidenav {
        display:none !important;
    }
}
@media screen and (max-width: 600px) {
    header .hero{
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      width: 60%;


     }
}
@media screen and (max-width: 600px) {
    .aboutmeparagraph{
        width: 100%;
        float: none;
        margin: auto;
    }
@media screen and (max-width: 600px) {
    .aboutmeparagraph img{
        width: 100%;
        height: auto;
        float: none;
        margin: 0px;
        /*margin: auto;*/
        /*text-align: center;*/
        /*display: block;*/
        right: auto;


        }
@media screen and (max-width: 600px) {
    .aboutmeparagraph p{
        width: 100%;
        float: none;
        margin: auto;
                }
    }

    @media screen and (max-width: 600px) {
        .title h1{
            width: 100%;
            text-align: center;
            float: none;
            margin: auto;
            position: static;
                    }
        }
    @media screen and (max-width: 600px) {
        .summary h1{
            width: 100%;
            text-align: center;
            float: none;
            margin: auto;
            position: static;
            }
        }
    @media screen and (max-width: 600px) {
        .mainimage img{
            width: 100%;
            margin-left: 0px;
            /*margin-top: 50px;*/
        }
    }
