/*body{
    width: 1200px;
    margin: 0 auto;

}*/
.lines {
    position: relative;
}


.lines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

}

.container {
    margin: 0 auto;
    width: 70%;
}
.one-half img{
    height: 75px;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50px;
}
header img{
    width: 100px;
    margin: 20px;
}
header .nav ul{
    display: inline;
    text-align: right;
    float: right;
    margin: 0;
}
header .nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 25px 10px 0 10px;
}

header .nav a{
    display: inline;
    padding-right: 30px;
    color: black;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    margin-top: 20px;
}
header .nav a:hover {
    color: #EF5850;
}

.hero b{
      color:#313131;
      font-weight: bold;
      -webkit-animation:colorchange 20s infinite alternate;


    }

    @-webkit-keyframes colorchange {
      0% {

        color: #ff9a9e;
      }

      10% {

        color: #fad0c4;
      }

      20% {

        color: #48c6ef;
      }

      30% {

        color: #6f86d6;
      }

      40% {

        color: #a3bded;
      }

      50% {

        color: #6991c7;
      }

      60% {

        color: #13547a;
      }

      70% {

        color: #80d0c7;
      }
      80% {

        color: #ffc3a0;
      }

      90% {

        color: #ffafbd;
      }

      100% {

        color: #B7F8DB;
      }
    }

header .hero{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
   width: 40%;

 }

header .hero .h1 {
  font-size:48px;
  font-weight: normal;
  padding: 10px;
}
header .hero img{
    height:100px;
    margin-top: 50px;
}

header .hero p{
    font-family:'Montserrat', sans-serif;
}
main .work img{
    height: 30px;
    width: auto;



}
main .work{
    height: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.project-preview{
    padding: 30px;
    margin-top: -20px;
    margin-bottom: 150px;
    border-radius: 0 0 4px 4px;
}
.section{
    max-width: 923px;
    margin: 0 auto 75px;
}
.span_4_of_12{
    width: 30.13%;
}
/*main .projects{
    margin-left: auto;
    margin-right: auto;
    width: 923px;
}*/
.project-preview img{
    width: 923px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

 .project-preview h2{
    font-family: 'Merriweather', serif;
    font-weight: bold;
}
 .project-preview h5{
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}
 .project-preview p{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    /*position: relative;*/
    text-align: left;
    line-height: 1.5;
}
 .project-preview a{
    color: #EF5850;
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}
    /*right: 50px;*/
    /*text-align: center;*/
.span_8_of_12{
    width: 65.06%;

}
.col {
    display: block;
    float: left;
    margin: 1% 4.5% 1% 0;
}
.col:last-child {
    margin-right: 0;
}

#footer {
  background-color: #fafafa;
  color: #333333;
  height: 100px;
  /*position: relative;*/
  /*overflow: hidden;*/
  z-index: 0;
  font-family:'Monserrat', sans-serif;
  margin-top: 200px;
  padding: 10px;
  text-align: center;
}
#footer .socialmedia img{
    height:20px;
    width: auto;
    margin: 0 10px 10px 0;
}
/*footer p footer nav ul {
  font-size:12px;
  font-weight:100;
  text-align: left;
  margin: 10px auto 0;
}*/
#footer nav ul li {
  list-style-type: none;
  display: inline-block;

}
#footer nav ul li a {
  color:#333333;
  text-decoration: none;
}
/*footer .right-footer-block {
  background-color: transparent;
}*/

/* Google Fonts
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;*/
