/*body{
    width: 1200px;
    margin: 0 auto;

}*/
.lines {
    position: relative;
}


.lines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

}
.myworklines{
    position: relative;
}
.myworklines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 30%;
    z-index: -1;

}
.aboutmelines{
    position: relative;
}
.aboutmelines:before {
    background-color: #D6D6D6;
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

}

.container {
    margin: 0 auto;
    width: 97%;
}
.one-half img{
    height: 75px;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50px;
}
header img{
    width: 100px;
    margin: 20px;
}
header .nav ul{
    display: inline;
    text-align: right;
    float: right;
    margin: 0;
}

header .nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 25px 10px 0 10px;
}

header .nav a{
    display: inline;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
header .nav a:hover {
    color: #EF5850;
}
.hero b{
      color:#313131;
      font-weight: bold;
      -webkit-animation:colorchange 20s infinite alternate;


    }
    @-webkit-keyframes colorchange {
      0% {

        color: #FED933;
      }

      10% {
        color: #FFF7D4;


      }

      20% {
        color: #FFB6B3;


      }

      30% {
        color: #F6E8E5;
      }

      40% {
        color: #5ACBCB;
      }

      50% {

        color: #CFE7E7;
      }

      60% {

        color: #FED933;
      }

      70% {

        color: #FFF7D4;
      }
      80% {

        color: #FFB6B3;
      }

      90% {

        color: #F6E8E5;
      }

      100% {

        color: #5ACBCB;
      }
    }
    .aboutmeparagraph b{
          color:#313131;
          font-weight: bold;
          -webkit-animation:colorchange 20s infinite alternate;


        }
        @-webkit-keyframes colorchange {
          0% {

            color: #FED933;
          }

          10% {
            color: #FFF7D4;


          }

          20% {
            color: #FFB6B3;


          }

          30% {
            color: #F6E8E5;
          }

          40% {
            color: #5ACBCB;
          }

          50% {

            color: #CFE7E7;
          }

          60% {

            color: #FED933;
          }

          70% {

            color: #FFF7D4;
          }
          80% {

            color: #FFB6B3;
          }

          90% {

            color: #F6E8E5;
          }

          100% {

            color: #5ACBCB;
          }
        }

header .hero{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 40%;


 }

header .hero h1 {
  font-size: 56px;
  font-weight: bold;
  /*padding: 10px;*/
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
header .hero h3{
    color: #818181;
    font-family: 'Karla', sans-serif;
}

header .hero img{
    height:100px;
    margin-top: 50px;
}

/*header .hero p{
    font-family:'Montserrat', sans-serif;
}*/
main .work img{
    height: 30px;
    width: auto;



}
main .mywork{
    height: 50px;
    width: auto;
    margin-top: 200px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .aboutmelines{
    height: 50px;
    width: auto;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .work{
    height: 35px;
    margin-top: 65px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .aboutme{
        height: 50px;
        width: auto;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
.project-preview{
    /*padding: 5px;*/
    margin-top: -20px;
    margin-bottom: 150px;
    /*border-radius: 0 0 4px 4px;*/
}
.section{
    max-width: 927px;
    margin: 0 auto 30px;
}
/*.span_4_of_12{
    width: 30.13%;
}*/
/*main .projects{
    margin-left: auto;
    margin-right: auto;
    width: 923px;
}*/
.project-preview img{
    width: 927px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
@media only screen and (max-width: 761px){
  .project-preview img {
    height: auto;
    width: 100%;
  }
}

 .project-preview h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 42px;
}
 .project-preview h5{
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
}
 .project-preview p{
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    /*position: relative;*/
    text-align: left;
    line-height: 1.5;
}
/*footer*/

#footer {
  background-color: #fafafa;
  color: #333333;
  height: 100px;
  /*position: relative;*/
  /*overflow: hidden;*/
  z-index: 0;
  font-family:'Karla', sans-serif;
  margin-top: 80px;
  padding: 10px;
  text-align: center;
}
#footer .socialmedia img{
    height:20px;
    width: auto;
    margin: 0 10px 10px 0;
}

#footer nav ul li {
  list-style-type: none;
  display: inline-block;

}
#footer nav ul li a {
  color:#333333;
  text-decoration: none;
}


#content .title h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    margin-top: 50px;

}

#content p img{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: -50px;*/
    /*border: solid 1px;*/

}
main .number{
    width: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.casestudyparagraph{
    margin-top: 50px;

}
.casestudyparagraph p{
    text-align: left;
    font-family: 'roboto', sans-serif;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    color: #333333;
    font-size: 18px;
    line-height: 2;

}
.casestudyparagraph  b{
    font-weight: bolder;
    font-size: 20px;
}
header .nav li span{
    color: #EF5850;
}
main .survey{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 700px;
}
main .userflow{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
main .sketch{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
main .prototype{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
main p{
    text-align: center;
    font-family: 'Roboto', serif;
    color: #6d6d6d;
    font-size: 19px;
}
main .personas{
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;;
}
main .personas-p{
    background-color: #EDEDED;
    display: inline-block;
    width: 230px;
    height: 230px;
    margin: 10px 30px 50px;
    padding: 10px;
    font-family: 'Monsterrat', sans-serif;
    font-size: 14px;
    position: relative;
    vertical-align: top;
    line-height: 20px;
}
main .personas-p b{
    font-size: 15px;
}
main .laineuserflow{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}
main .lainewireframe{
    margin-top: 50px;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main .keepuserflow{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.project-preview{
  position: relative;
  /*width: 100%;*/
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFF7D4;
}
.overlay-1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #F6E8E5;
}
.overlay-2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #CFE7E7;
}


.project-preview:hover .overlay{
  opacity: 0.9;
}
.project-preview:hover .overlay-1{
  opacity: 0.9;
}
.project-preview:hover .overlay-2{
  opacity: 0.9;
}

.text{
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}




.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 10px;
    background: white;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: block;
    font-family:'karla', sans-serif;
}

.sidenav a:hover {
    color: #EF5850;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.aboutmeparagraph{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;

}
.aboutmeparagraph p{
    width: 700px;
    font-family: "Karla", sans-serif;
    font-size: 20px;
    line-height: 1.5;

}
.aboutmeparagraph  img{
    float: right;
    width: 500px;
    margin: 0;

}
.signature img{
    width: 100px;
    margin: 0;
}
.signature p{
    font-family: "Karla", sans-serif;
    font-size: 20px;

}
.signature{
    margin-left: 268px;
}
